.slide{
	padding: 25px 50px;
	box-sizing: border-box;
	display: flex;
	//align-items: center;
	justify-content: space-between;
	min-height: 50%;

	//margin: 0 20px;
}

.left,
.right{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right{
	flex: 1 0;
	margin: 0 0 0 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.description{
	font-size: 1.2rem;
	text-align: justify;
}

.swiper{
	width: 100%;
}

.avatar{
	img{
		width: 10vw;
		border-radius: 15px;
		display: block;
	}
	
	position: relative;
	border-radius: 10px;	
	transition: all 0.5s;
}

.fullname{
	font-size: 1.5rem;
	width: 100%;
	margin: 0 0 10px 0;
	font-weight: 700;
}

.links{
	margin: 15px 0 0 0;
}

.link{
	text-decoration: none;
	color: var(--fc-main);
	transition: color 0.5s;
	&:not(:last-child){
		margin-right: 10px;
	}

	&:hover > * {
		color: var(--fc-links);
		transform: scale(1.3);
	}
	& > *{
		transition: transform .2s ease-in-out;
	}
}
