.container{
	height: 40px;
	width: 60px;
	background: var(--bg-theme);
	border-radius: 50px;
	display: flex;
	align-items: center;
	padding: 0 5px;
	justify-content: flex-start;

	&[data-isOn="false"] {
		justify-content: flex-end;
	}
}

.item{
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 0px;

	img{
		height: 1.3rem;
		width: 1.3rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: all 0.5s;
		filter: invert(11%) sepia(7%) saturate(588%) hue-rotate(201deg) brightness(92%) contrast(88%);
	}
}
