@import 'static';


.about__content{
	display: flex;
	justify-content: space-between;
	//align-items: center;
	//flex-wrap: wrap;
	flex: 1 0 50%;
}

.about__img img{
	border-radius: 5px;
	width: 100%;
}

.about__img{
	margin: 0 3vw 0 0;
	flex: 1 0 50%;
}

.about__text{
	font-size: 1.2rem;
	text-align: center;
}
