@import 'static';

.about{
	position: relative;
	padding-bottom: 75px;
	margin-top: 105px;
	border-radius: $borderRadius;
	background-color: var(--bg-block);
	padding: 2rem;
	transition: background-color 0.5s
}

.about__content{
	display: flex;
	justify-content: space-between;
	//align-items: center;
	//flex-wrap: wrap;
	flex: 1 0 50%;
}

.about__img img{
	border-radius: 5px;
	width: 100%;
}

.about__img{
	margin: 0 3vw 0 0;
	flex: 1 0 50%;
}

.about__text{
	font-size: 1.2rem;
	text-align: center;
}
