@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Regular.eot);
	src: local('Montserrat'), local('Montserrat'),
		url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype'),
		url('../fonts/Montserrat-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Bold.eot);
	src: local('Montserrat'), local('Montserrat'),
		url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Bold.woff') format('woff'),
		url('../fonts/Montserrat-Bold.ttf') format('truetype'),
		url('../fonts/Montserrat-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}