.header{
	padding: 1.5rem 0;
}

.header__logo{
	font-size: 2rem;
	color: #fff;
	font-weight: bold;
}

.header__row{
	display: flex;
	justify-content: space-between;
}

.header__menu{
	display: flex;
	align-items: center;
}
 
.menu__item a{
	text-decoration: none;
	color: #fff;
	transition: all .2s;
	font-size: 1.1rem;
}
 
.menu__item a:hover{
	color: rgb(255, 179, 91);
}
 
.menu__item:not(:last-child){
	margin: 0 14px 0 0;
}