.about{
	position: relative;
	padding-bottom: 75px;
	margin-top: 105px;
	border-radius: 10px;
	background-color: rgb(36, 36, 36);
	padding: 2rem;
}

.about__title{
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 50px;
}

.about__content{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about__img img{
	border-radius: 5px;
	width: 20vw;
}

.about__img{
	margin: 0 3vw 0 0;
}

.about__text{
	font-size: 1.2rem;
	flex: 1 0;
	text-align: justify;
}
