@import 'static';

.tasks__row{
	position: relative;
	padding-bottom: 75px;
	margin-top: 105px;
	border-radius: $borderRadius;
	background-color: var(--bg-block);
	padding: 2rem;
}

.points__title,
.tasks__title{
	font-size: 1.5rem;
}