@import 'vars';
@import 'fonts';
@import 'scroll';

html{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: var(--fc-main);
	font-size: 14px;
}

ymaps{
	color: #252528;
}
 
body {
	margin: 0;
	background-color: var(--bg-body);
	-moz-osx-font-smoothing: grayscale;
	transition: background-color 0.5s
}

.active-link{
	color: var(--fc-links);
}