@use'about';
@use 'header';
@use 'map';
@use './fonts';

*{
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: rgb(220, 220, 220);
	font-size: 14px;
}
 
body {
	margin: 0;
	background-color: #17171a;
	-moz-osx-font-smoothing: grayscale;
}
 
.container{
	margin: 0 auto;
	max-width: 50vw;
}