.item{
	text-align: center;
	margin: 5vh 0 10px 1.5vw;
	font-size: 1.2rem;
	position: relative;
	&:not(:last-child)::after{
		content: "";
		position: absolute;
		display: block;
		background: var(--bg-afterSource);
		width: 70%;
		height: 1px;
		left: 50%;
		transform: translateX(-50%);
		margin: 2vh 0 0 0;
	}

	a{
		font-size: 1.2rem;
		text-decoration: none;
		color: var(--fc-links);
	}
}