.header{
	padding: 1rem 0;
	position: sticky;
	top: 0;
	-webkit-backdrop-filter: blur(25px);
  	backdrop-filter: blur(25px);
	z-index: 5;

	&::after{
		content: "";
		position: absolute;
		background-color: var(--bg-block);
		bottom: 0;
		left: 20px;
		right: 20px;
		height: 1px;
		text-align: center;
		transition: background-color 0.5s
	}
}

.container{
	margin: 0 auto;
	padding: 0 20px;
}

.logo{
	font-family: 'Gropled', sans-serif;
	font-size: 3rem;
	background: linear-gradient(90deg, rgba(255,196,108,1), rgba(216,170,170,1), rgba(109,230,255,1), rgba(242,90,255,1));
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #fff;
	font-weight: 700;
	word-spacing: -15px;
	background-size: 300%;
	background-position: -100%;
	animation: background 6s infinite alternate;
	text-decoration: none;
	& span{
		font-size: 4.5rem;
		font-weight: bold;
	}

}

@keyframes background {
	from {
		background-position: 0%;
	}
	to{
		background-position: 100%;
	}
}

.row{
	display: flex;
	justify-content: space-between;
}

.menu{
	display: flex;
	align-items: center;
}

.item{
	& a{
		text-decoration: none;
		color: var(--fc-main);
		transition: all .2s;
		font-size: 1.5rem;
	}

	&:not(:last-child){
		margin: 0 14px 0 0;
	}
	
}
 
.link:hover{
	color: var(--fc-links);
}

