.row{
	position: relative;
	padding-bottom: 75px;
	margin-top: 105px;
	border-radius: 10px;
	background-color: var(--bg-block);
	padding: 2rem;
}

.item{
	margin: 5px 0 0 2vw;
	font-size: 1.2rem;
}

.title{
	font-size: 1.5rem;
}